**/credit_card_dataset/.ipynb_checkpoints/
**/credit_card_dataset/data/
**/fake_news_dataset/.ipynb_checkpoints/
**/fake_news_dataset/data/
**/flickr_image_dataset/.ipynb_checkpoints/
**/flickr_image_dataset/data/
**/master_dataset/.ipynb_checkpoints/
**/master_dataset/data/
**/movie_dataset/.ipynb_checkpoints/
**/movie_dataset/data/
**/random_picture_dataset/.ipynb_checkpoints/
**/random_picture_dataset/data/
**/trees_dataset/.ipynb_checkpoints/
**/trees_dataset/data/
**/uber_rides/.ipynb_checkpoints/
**/uber_rides/data/
